<!doctype html>
<html>
    <head>
        <title>MAT2</title>
        <link href="{{ url_for('static', filename='raleway.woff2') }}" as="font" type="font/woff2" rel="preload">
        <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='uikit.min.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css"/>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
        <script defer src="{{ url_for('static', filename='script.js') }}"></script>
    </head>
<body>
    <header class="main-header">
        <div class="uk-container">
            <div class="row">
                <div class="two-half column">
                    <a href='.' class="u-center-block">
                        <img class='logo' src="{{ url_for('static', filename='logo.png') }}" alt="mat2 logo"/>
                    </a>
                </div>
            </div>
        </div>
    </header>

    <div class="uk-flex uk-flex-center">
        <div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="uk-alert uk-alert-danger">
                            <p>
                                {{ message }}
                            </p>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>

    <div class="uk-container uk-flex uk-flex-center">
        <section>
            <div class="row uk-flex uk-flex-center">
                {% block content %}{% endblock %}
            </div>
        </section>
    </div>

    <footer>
        © <a href='https://dustri.org'>jvoisin</a> -
        <a href='https://0xacab.org/jvoisin/mat2-web'>source</a> -
        ♥
    </footer>
</body>
